body {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Console", "Courier New", monospace;
}

.row {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.square {
  flex-grow: 1;
  border: 1px solid lightgrey;
  background-color: rgb(255, 255, 255);
}

#grid {
  width: 960px;
  height: 960px;
  margin-right: 25px;
  display:flex;
  flex-direction: column;
}

#header-container, #footer-container {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#left-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 200px;
}

.side-button {
  width: 150px;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  width: 300px;
}
